@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --clr-main:#fee801;
  --clr-dark:#27292b;
  --clr-light:#f5f5f5;
  --bpx-shadow: 0 0 10p rgba(0, 0, 0, .2);
  --box-shadow-expand: 0 0 15px rgba(0, 0, 0, .3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    min-height: 100vh;
}

a {
  color: var(--clr-dark);
  text-decoration: none;
}